# Created by .ignore support plugin (hsz.mobi)
/net/Schlaubi/SchlaubiBot/util/SECRETS.java
/SERVER_SETTINGS/
/.idea/
/target/
SchlaubiBot.iml
dependency-reduced-pom.xml
src/test/
values/
src/main/resources/
secrets.json
src/main/java/net/schlaubi/schlaubibot/util/SECRETS.java
